{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNIVERSO</title>

    <style>
        body {
            text-align: center;
            background-image: url("{% static '-espaco-galaxia-fundo-vetor.jpg' %}");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: aliceblue;

        }
    </style>

</head>

<body>
    <h2>PORTFÓLIO UNIVERSO</h2>
    <h2>Galeria de Fotos</h2>
    <figure>
        <img src ="{% static 'universo1.jpg' %}" alt="Galáxia Suprema" widht="200" height="200">
        <figcaption>Imagem da galáxia vista de forma diferente</figcaption>
        <img src ="{% static 'universo2.jpg' %}" alt="Abraço a Galáxia" widht="200" height="200">
        <figcaption>Imagem de uma pessoa com os braços levantados para o universo</figcaption>
        <img src ="{% static 'universo3.jpg' %}" alt="Amor pelo Espaço" widht="200" height="200">
        <figcaption>Imagem perceptiva da Galáxia</figcaption>
    </figure>
    <h2>Fotos de Marte</h2>
    <figure>
        <img src ="{% static 'marte1.jpeg' %}" alt="Marte" widht="200" height="200">
        <figcaption>Imagem do planeta Marte</figcaption>
        <img src ="{% static 'marte2.jpeg' %}" alt="Montanha Grande" widht="200" height="200">
        <figcaption>Imagem do maior vulcão do sistema solar</figcaption>
        <img src ="{% static 'marte3.jpeg' %}" alt="Areia Vermelha" widht="200" height="200">
        <figcaption>Imagem do solo da Marte</figcaption>
        <img src ="{% static 'marte4.jpeg' %}" alt="Terra de Ferro" widht="200" height="200">
        <figcaption>Imagem perceptiva de Marte</figcaption>
    </figure>

    <h2>Filmes sobre o espaço</h2>

    <figure>
    <img src ="{% static 'perdido.jpg' %}" alt="Marte" widht="200" height="200">
        <figcaption>Filme de um homem que vai para marte e se perde</figcaption>
    <img src ="{% static 'zahura.jpeg' %}" alt="jogo desafiador" widht="200" height="200">
        <figcaption>Filme sobre um jogo desafiador</figcaption>
    <img src ="{% static 'interestelar.jpg' %}" alt="Ficção científica" widht="200" height="200">
        <figcaption>Uma das melhores produções de Crhisthopher Nolan</figcaption>
    </figure>
    
</body>
</html>